@{
    ViewData["Title"] = "Gallery";
}

    <style>
        .about {
          text-align: center; }
        }

        .galeria {
            width: 80%;
            margin: 0 auto; 
        }

        .galeria img {
            width: 28%;
            margin: 4px;
            border: 2px solid #252525;
            opacity: .8;
            transition: .5s ease-in-out; 
        }

        .galeria img:hover {
            opacity: 1; 
        }

        @@media only screen and (max-width: 568px) {
            .gallery {
            width: 92%;
            margin: 0 auto; 
            }

            .gallery {
            margin-bottom: 120px; 
            }

            .gallery h1 {
            width: 100%;
            font-size: 1.2em;
            padding: 15px 28px; 
            }

            .galeria {
            width: 100%; 
            }

            .galeria img {
            width: 48%;
            float: left; 
            } 
        }
    </style>

    <div class="content" align="center">
        <div class="gallery">
            <h1>FOTOS DE LOS DIFERENTES TIPOS DE BIGOTES</h1>
            <div class="galeria clearfix">
                <img src="~/images/mustache1.jpg" />
                <img src="~/images/mustache8.jpg" />
                <img src="~/images/mustache6.jpg" />
                <br />
                <img src="~/images/mustache3.jpg" />
                <img src="~/images/mustache7.jpg" />
                <img src="~/images/mustache9.jpg" />
            </div>
        </div>
        <br /><br /><br />
    </div>

